# Ignore Python cache files
__pycache__/
*.pyc

# Ignore your editor/IDE files
.vscode/
*.swp
*.sublime-project

# Ignore build outputs or binaries
main.build/
dist/
*.exe
*.dll

# Ignore OS system files
.DS_Store
Thumbs.db
